Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2024-11, with the labels that each got.

#477 Create-department-wide-program-464
  backend/migrations/00015_add_facilities_programs_relationship.sql
  backend/seeder/main.go
  backend/src/database/DB.go
  backend/src/database/db_error.go
  backend/src/database/facilities.go
  backend/src/database/users.go
  backend/src/handlers/facilites_handler_test.go
  backend/src/handlers/facilities_handler.go
  backend/src/handlers/programs_handler_test.go
  backend/src/models/facilities.go
  backend/src/models/program.go
  backend/src/models/section_event.go
  backend/src/models/users.go
  frontend/src/Components/forms/CreateProgramForm.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
  frontend/tailwind.config.cjs
Labels: refactor - backend, refactor - frontend, HAS MIGRATION

#499 Add Timzone dropdown to ChangePasswordForm
  backend/src/database/programs.go
  backend/src/handlers/auth.go
  backend/src/handlers/facilites_handler_test.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/programs_handler_test.go
  frontend/src/Components/forms/ChangePasswordForm.tsx
Labels: enhancement, frontend

#500 Refactor nested Components
  frontend/src/Components/resourceMgtHelpers/ResourceCollectionCardWithActions.tsx
  frontend/src/Components/resourceMgtHelpers/ResourceCollectionEditor.tsx
  frontend/src/Components/resourceMgtHelpers/SortableCollectionList.tsx
  frontend/src/Pages/ResourcesManagement.tsx
  frontend/src/common.ts
Labels: frontend, refactor - frontend

#514 Track open content library activity #490
  backend/migrations/00021_add_open_content_activity_tables.sql
  backend/src/database/DB.go
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/handlers/libraries_handler.go
  backend/src/handlers/middleware.go
  backend/src/handlers/proxy_handler.go
  backend/src/handlers/server.go
  backend/src/handlers/video_handler.go
  backend/src/models/library.go
  backend/src/models/open_content.go
Labels: HAS MIGRATION

#516 BUG-FIX: Pager Control Admin and Student Management
  backend/src/database/users.go
Labels: refactor - backend

#519 feat: add library favorites
  backend/migrations/00022_add_library_favorites_table.sql
  backend/src/database/DB.go
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/handlers/libraries_handler.go
  backend/src/handlers/libraries_handler_test.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/open_content_handler_test.go
  backend/src/handlers/server.go
  backend/src/handlers/test_data/libraries.json
  backend/src/handlers/test_data/videos.json
  backend/src/handlers/video_handler.go
  backend/src/models/library.go
  backend/src/models/open_content.go
  frontend/src/Components/FavoriteCard.tsx
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/VideoCard.tsx
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
  frontend/yarn.lock
Labels: HAS MIGRATION
