Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2024-10, with the labels that each got.

#417 fix: fixes toast alert colors
  frontend/src/Components/Toast.tsx
Labels: quick merge

#419 Adds open content management ui for admins and students
  backend/src/database/libraries.go
  backend/src/handlers/libraries_handler.go
  backend/src/handlers/libraries_handler_test.go
  backend/src/models/library.go
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/TabView.tsx
  frontend/src/Components/VisibleHiddenToggle.tsx
  frontend/src/Pages/MyCourses.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/Pages/OpenContentManagement.tsx
  frontend/src/Pages/ProviderPlatformManagement.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
Labels: frontend, refactor - backend

#452 fix: remove daisyUI navbar class to fix scrollbar
  frontend/src/Components/PageNav.tsx
Labels: refactor - frontend

#457 feat: add facility context switch and ui
  backend/src/handlers/auth.go
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/PageNav.tsx
  frontend/src/Layouts/AuthenticatedLayout.tsx
  frontend/src/Pages/AdminDashboard.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/app.tsx
  frontend/src/routeLoaders.ts
Labels: frontend

#444 Implement facility management UI 424
  backend/src/database/facilities.go
  backend/src/handlers/auth.go
  backend/src/handlers/facilites_handler_test.go
  backend/src/handlers/facilities_handler.go
  backend/src/handlers/programs_handler_test.go
  frontend/src/Components/FacilityCard.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/forms/AddFacilityForm.tsx
  frontend/src/Components/forms/EditFacilityForm.tsx
  frontend/src/Pages/FacilityManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
Labels: feature - addition
