Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2024-08, with the labels that each got.

#325 fix: ensures all modal buttons are submit not submit query
  frontend/src/Components/inputs/SubmitButton.tsx
Labels: quick merge - small addition

#327 fix: fixes import users modal on dark mode
  frontend/src/Components/forms/ShowImportedUsers.tsx
Labels: style - refactor, quick merge - small addition

#330 feat: adds confirm bulk import modal, fixes modal types
  frontend/src/Components/CategoryItem.tsx
  frontend/src/Components/Modal.tsx
  frontend/src/Components/forms/ConfirmImportAllUsersForm.tsx
  frontend/src/Pages/ProviderPlatformManagement.tsx
  frontend/src/Pages/ProviderUserManagement.tsx
  frontend/src/Pages/ResourcesManagement.tsx
  frontend/src/Pages/Users.tsx
Labels: view - UI, refactor - frontend

#352 fix: fixes mapping modal, updates pagination, updates seeder
  backend/src/database/provider_user_mappings.go
  frontend/src/Components/NewOidcClientNotification.tsx
  frontend/src/Components/forms/MapUserForm.tsx
  frontend/src/Pages/ProviderUserManagement.tsx
Labels: view - UI, refactor - backend

#354 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
