Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-02, with the labels that each got.

#722 fix: alter table by changing primary key to be id and add unique contsraint per 721
  backend/migrations/00031_alter_open_content_favorites_table.sql
Labels: HAS MIGRATION

#726 feat: add local kiwix dev environment
  .github/labeler.yml
  .gitignore
  Makefile
  backend/seeder/main.go
  backend/src/handlers/proxy_handler.go
  backend/src/handlers/server.go
  config/zims.sh
  docker-compose.yml
Labels: Backend

#724 fix: video downloads from playlists duplicated external_ids
  provider-middleware/video_dl.go
Labels: ProviderMiddleware

#723 fix: fix search capitalization issues
  backend/src/database/helpful_links.go
  backend/src/database/open_content.go
  backend/src/database/videos.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/open_content_handler_test.go
  backend/src/handlers/server.go
  frontend/src/Components/inputs/LibrarySearchBar.tsx
  frontend/src/Components/inputs/SearchBar.tsx
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/HelpfulLinks.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#733 fix: make video metadata sync synchronous to prevent overload
  provider-middleware/video_dl.go
Labels: ProviderMiddleware

#734 fix: make all video operations syncronous
  provider-middleware/video_dl.go
Labels: ProviderMiddleware

#729 fix: fix order by add created at
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
Labels: frontend

#735 refactor: total activity time query
  backend/src/database/activity.go
  backend/src/models/course.go
  frontend/src/Pages/AdminLayer2.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#740 refactor: change add student to add resident, change url length
  frontend/src/Components/forms/AddLinkForm.tsx
  frontend/src/Pages/StudentManagement.tsx
Labels: frontend

#738 fix: fix helpful link thumbnail issue
  backend/src/handlers/helpful_links_handler.go
Labels: Backend

#757 fix: use google cloud api key to fetch youtube metadata
  provider-middleware/video_dl.go
Labels: ProviderMiddleware

#705 Set title of page in authenticated layout
  frontend/src/Components/PageNav.tsx
  frontend/src/Components/VideoEmbedViewer.tsx
  frontend/src/Context/AuthLayoutPageTitleContext.tsx
  frontend/src/Context/PathValueCtx.tsx
  frontend/src/Layouts/AuthenticatedLayout.tsx
  frontend/src/Pages/LibraryViewer.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/Pages/OpenContentManagement.tsx
  frontend/src/Pages/ProviderUserManagement.tsx
  frontend/src/app.tsx
Labels: frontend

#737 feat: add dept admin, add facility admin
  backend/migrations/00033_update_admin_roles.sql
  backend/src/database/programs.go
  backend/src/database/users.go
  backend/src/handlers/auth.go
  backend/src/handlers/dashboard.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/server_test.go
  backend/src/handlers/user_handler_test.go
  backend/src/models/users.go
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/OperationalInsightsCharts.tsx
  frontend/src/Components/PageNav.tsx
  frontend/src/Components/dashboard/ExpandableCardGrid.tsx
  frontend/src/Components/forms/CreateProgramForm.tsx
  frontend/src/Pages/AdminLayer2.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/Programs.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
  frontend/src/useAuth.ts
  provider-middleware/kiwix.go
Labels: frontend, HAS MIGRATION, Backend, ProviderMiddleware, HAS_MIGRATION

#727 feat: refactor modals
  frontend/src/Components/DeleteForm.tsx
  frontend/src/Components/NewOidcClientNotification.tsx
  frontend/src/Components/forms/AddFacilityForm.tsx
  frontend/src/Components/forms/AddLinkForm.tsx
  frontend/src/Components/forms/AddProviderForm.tsx
  frontend/src/Components/forms/AddUserForm.tsx
  frontend/src/Components/forms/AddVideosForm.tsx
  frontend/src/Components/forms/DeleteForm.tsx
  frontend/src/Components/forms/EditFacilityForm.tsx
  frontend/src/Components/forms/EditLinkForm.tsx
  frontend/src/Components/forms/EditProviderForm.tsx
  frontend/src/Components/forms/EditUserForm.tsx
  frontend/src/Components/forms/RegisterOidcClientForm.tsx
  frontend/src/Components/forms/ResetPasswordForm.tsx
  frontend/src/Components/forms/ShowTempPasswordForm.tsx
  frontend/src/Components/forms/VideoInfoModalForm.tsx
  frontend/src/Components/inputs/CancelButton.tsx
  frontend/src/Components/inputs/CancelSubmitRow.tsx
  frontend/src/Components/inputs/CheckboxInput.tsx
  frontend/src/Components/inputs/ConfirmButton.tsx
  frontend/src/Components/inputs/DeleteButton.tsx
  frontend/src/Components/inputs/DropdownInput.tsx
  frontend/src/Components/inputs/MultiSelectDropdownInput.tsx
  frontend/src/Components/inputs/TextAreaInput.tsx
  frontend/src/Components/inputs/TextInput.tsx
  frontend/src/Components/inputs/index.ts
  frontend/src/Components/modals/AddFacilityModal.tsx
  frontend/src/Components/modals/AddHelpfulLinkModal.tsx
  frontend/src/Components/modals/AddProviderModal.tsx
  frontend/src/Components/modals/AddUserModal.tsx
  frontend/src/Components/modals/AddVideoModal.tsx
  frontend/src/Components/modals/EditFacilityModal.tsx
  frontend/src/Components/modals/EditHelpfulLinkModal.tsx
  frontend/src/Components/modals/EditProviderModal.tsx
  frontend/src/Components/modals/EditUserModal.tsx
  frontend/src/Components/modals/FormModal.tsx
  frontend/src/Components/modals/RegisterOIDCClientModal.tsx
  frontend/src/Components/modals/TextOnlyModal.tsx
  frontend/src/Components/modals/index.ts
  frontend/src/Hooks/useCheckResponse.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/FacilityManagement.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/Programs.tsx
  frontend/src/Pages/ProviderPlatformManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/Pages/VideoManagement.tsx
  frontend/src/app.tsx
  frontend/src/routeLoaders.ts
Labels: frontend

#772 feat: add bookmarking
  backend/go.mod
  backend/go.sum
  backend/migrations/00034_update_oc_favorites_add_url_id.sql
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/database/videos.go
  backend/src/handlers/middleware.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/server.go
  backend/src/handlers/websockets.go
  backend/src/models/open_content.go
  frontend/src/Components/FavoriteCard.tsx
  frontend/src/Pages/LibraryViewer.tsx
  frontend/src/Pages/StudentLayer1.tsx
Labels: frontend, Backend, HAS_MIGRATION

#780 fix: add facility_admin to role list in user query
  backend/src/database/users.go
Labels: Backend

#773 fix: remove admin ability to alter data in student view
  frontend/src/Components/FavoriteCard.tsx
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/VideoCard.tsx
  frontend/src/Components/cards/HelpfulLinkCard.tsx
Labels: frontend
