Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-07, with the labels that each got.

#939 feat: updated text on event button from 'back' to 'cancel'
  frontend/src/Pages/EventAttendance.tsx
Labels: frontend

#940 fix: total programs and enrollments for facility admin pull from latest date
  backend/src/database/programs.go
  frontend/src/Pages/ProgramManagement.tsx
Labels: frontend, Backend

#942 fix: fixed last, first for add enrollments
  frontend/src/Pages/AddClassEnrollments.tsx
Labels: frontend

#937 Update Resident Programs UI
  backend/src/database/class_events.go
  backend/src/handlers/class_events.go
  backend/src/models/calendar.go
  frontend/src/Components/ClassEventDetailsCard.tsx
  frontend/src/Components/ResidentPrograms.tsx
  frontend/src/Pages/ResidentOverview.tsx
  frontend/src/Pages/Schedule.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#943 feat: added more descriptive text with segregated option
  backend/src/database/program_classes.go
  backend/src/models/program_classes.go
  frontend/src/Components/ResidentPrograms.tsx
  frontend/src/Pages/ClassEnrollmentDetails.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#946 feat: adjusted alignment for super admin add buttons
  frontend/src/Pages/AdminManagement.tsx
Labels: frontend

#951 fix: add instructor name to csv export
  backend/src/database/programs.go
  backend/src/models/program.go
Labels: Backend

#958 fix: uses ULIcomponent and adds icon for all instances of change reason
  frontend/src/Components/ResidentPrograms.tsx
Labels: frontend

#955 fix: refactored attendance page ux
  frontend/src/Components/AttendanceStatusToggle.tsx
  frontend/src/Components/inputs/TextInput.tsx
  frontend/src/Pages/EventAttendance.tsx
Labels: frontend

#956 fix: modified PageNav component to reset pagination issue
  frontend/src/Components/PageNav.tsx
Labels: frontend

#950 feat: add ability to deactivate user
  backend/migrations/00053_add_deactivated_column_users.sql
  backend/src/database/users.go
  backend/src/handlers/auth.go
  backend/src/handlers/class_enrollments.go
  backend/src/handlers/login_flow.go
  backend/src/handlers/user_handler.go
  backend/src/handlers/utils.go
  backend/src/models/resource.go
  backend/src/models/users.go
  frontend/src/Components/UserActionsDropdown.tsx
  frontend/src/Components/cards/ActivityHistoryRowCard.tsx
  frontend/src/Components/forms/LoginForm.tsx
  frontend/src/Components/modals/DeactivateUserModal.tsx
  frontend/src/Components/modals/index.ts
  frontend/src/Pages/ResidentProfile.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/common.ts
  frontend/src/useAuth.ts
Labels: frontend, Backend, HAS_MIGRATION

#953 chore: remove unused ProgramCard component per ticket 314
  backend/migrations/00054_drop_program_favorites.sql
  backend/src/database/DB.go
  backend/src/database/programs.go
  backend/src/database/users.go
  backend/src/handlers/programs_handler.go
  backend/src/models/dashboard.go
  backend/src/models/program.go
  frontend/src/Components/ProgramCard.tsx
Labels: frontend, HAS MIGRATION, Backend

#947 Replace the Mark Attendance button button on Attendance page for dates in the future
  backend/src/database/program_classes.go
  backend/src/models/program_classes.go
  frontend/src/Components/inputs/DateInput.tsx
  frontend/src/Pages/ClassEvents.tsx
  frontend/src/Pages/ResidentProfile.tsx
  frontend/src/common.ts
Labels: frontend, Backend
