Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-01, with the labels that each got.

#608 Layer 1 Resident Dashboard > Organize Favorites by Content Type #550
  backend/migrations/00029_alter_open_content_favorites_table.sql
  backend/src/database/helpful_links.go
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/database/videos.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/open_content_handler_test.go
  backend/src/handlers/video_handler.go
  backend/src/models/open_content.go
  frontend/src/Components/OpenContentItemAccordion.tsx
  frontend/src/Components/VideoCard.tsx
  frontend/src/Pages/StudentLayer1.tsx
  frontend/src/common.ts
Labels: HAS MIGRATION

#650 feat: add workflow to label issues with "Needs verification" when moved to Done
  .github/workflows/add-needs-verification-label.yml
Labels: github_actions

#624 Learning insights dash
  backend/src/database/activity.go
  backend/src/database/helpful_links.go
  backend/src/database/seed_demo.go
  backend/src/handlers/dashboard.go
  backend/src/handlers/dashboard_test.go
  backend/src/models/course.go
  frontend/src/Pages/AdminLayer2.tsx
  frontend/src/common.ts
Labels: frontend, refactor - backend

#649 Sorting options and clarity in the Knowledge Center
  backend/src/database/helpful_links.go
  backend/src/database/libraries.go
  backend/src/database/videos.go
  backend/src/handlers/helpful_links_handler.go
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/VideoManagement.tsx
  frontend/src/common.ts
Labels: refactor - backend

#662 feat: update add-needs-verification-label.yml
  .github/workflows/add-needs-verification-label.yml
Labels: github_actions

#680 Knowledge Center - Videos - Pager control fix
  frontend/src/Components/Pagination.tsx
  frontend/src/Pages/VideoManagement.tsx
Labels: frontend
