Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-03, with the labels that each got.

#782 feat: category tag dropdown to programs on admin page
  backend/migrations/00035_alter_categories.sql
  backend/seeder/main.go
  backend/src/database/DB.go
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/database/programs.go
  backend/src/database/seed_data.go
  backend/src/database/tags.go
  backend/src/handlers/libraries_handler.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/server.go
  backend/src/handlers/tags.go
  backend/src/models/open_content.go
  backend/src/models/program.go
  backend/src/models/tags.go
  frontend/src/Components/CategoryDropdownFilter.tsx
  frontend/src/Components/ClampedText.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/ProgramCard.tsx
  frontend/src/Pages/AdminLayer1.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/app.tsx
  frontend/src/routeLoaders.ts
Labels: frontend, Backend, ProviderMiddleware, HAS_MIGRATION

#779 feat: modify library visibility to be per facility according to ticket #718
  backend/migrations/00036_add_facility_visibility_statuses.sql
  backend/seeder/main.go
  backend/src/database/DB.go
  backend/src/database/libraries.go
  backend/src/database/open_content.go
  backend/src/handlers/libraries_handler.go
  backend/src/handlers/middleware.go
  backend/src/handlers/open_content_activity_handler.go
  backend/src/handlers/open_content_activity_handler_test.go
  backend/src/handlers/open_content_handler.go
  backend/src/handlers/open_content_handler_test.go
  backend/src/handlers/test_data/libraries.json
  backend/src/models/library.go
  provider-middleware/kiwix_data.go
Labels: enhancement, HAS MIGRATION, Backend, ProviderMiddleware

#784 feat: add program overview dashboard with test data
  frontend/src/Components/EnrolledCourseCard.tsx
  frontend/src/Components/ProgramCard.tsx
  frontend/src/Components/ProgramOutcomes.tsx
  frontend/src/Components/ProgressBar.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Routes/Programs.tsx
Labels: frontend

#787 feat: add proper tab separation change trending content to home
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/TabView.tsx
  frontend/src/Pages/ResidentHome.tsx
  frontend/src/Pages/StudentLayer0.tsx
  frontend/src/Routes/App.tsx
  frontend/src/Routes/KnowledgeCenterRoutes.tsx
  frontend/src/useAuth.ts
Labels: frontend

#789 feat: add logic to determine docker image version name
  .github/workflows/container_builds.yml
Labels: CI-Actions

#791 feat: add resident Help Center and FAQs for UnlockEd direct support per #17
  backend/migrations/00038_add_faq_click_metrics.sql
  backend/src/database/users.go
  backend/src/handlers/analytics_handler.go
  backend/src/handlers/server.go
  backend/src/models/faq.go
  frontend/src/Components/Navbar.tsx
  frontend/src/Layouts/AuthenticatedLayout.tsx
  frontend/src/Pages/FAQs.tsx
  frontend/src/Pages/HelpCenter.tsx
  frontend/src/Pages/ResidentHome.tsx
  frontend/src/routeLoaders.ts
Labels: frontend, HAS MIGRATION, Backend, HAS_MIGRATION

#796 fix: display proper form on initial password reset, add logs
  backend/src/handlers/auth.go
  backend/src/handlers/server.go
  backend/src/handlers/user_handler.go
  backend/src/handlers/utils.go
  frontend/src/Components/forms/ChangePasswordForm.tsx
Labels: frontend, Backend

#792 feat: modify helpful link management so helpful links are managed and defined at facility level
  backend/src/database/helpful_links.go
  backend/src/database/open_content.go
  backend/src/handlers/helpful_links_handler.go
  backend/src/handlers/open_content_handler_test.go
  backend/src/models/resource.go
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/HelpfulLinks.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#797 fix: add method to retrieve all english language libraries to avoid kiwix mutiple language error
  backend/src/database/libraries.go
  backend/src/handlers/libraries_handler.go
Labels: Backend

#799 refactor: add request context to all db calls using queryCtx
  backend/src/database/courses.go
  backend/src/database/libraries.go
  backend/src/database/milestones.go
  backend/src/database/open_content.go
  backend/src/database/outcomes.go
  backend/src/database/program_sections.go
  backend/src/database/programs.go
  backend/src/database/users.go
  backend/src/database/videos.go
  backend/src/handlers/proxy_handler.go
  backend/src/handlers/utils.go
  backend/src/models/resource.go
Labels: Backend

#800 fix: fix bug on admin management remove program for residents
  frontend/src/Components/Navbar.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/LibraryViewer.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/app.tsx
Labels: frontend, Backend

#795 feat: add welcome tour
  backend/src/database/users.go
  backend/src/handlers/login_flow.go
  frontend/package.json
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/Tour.tsx
  frontend/src/Components/UnlockEdTour.tsx
  frontend/src/Components/forms/ChangePasswordForm.tsx
  frontend/src/Components/forms/LoginForm.tsx
  frontend/src/Components/modals/FormModal.tsx
  frontend/src/Context/TourContext.tsx
  frontend/src/Layouts/AuthenticatedLayout.tsx
  frontend/src/Pages/HelpCenter.tsx
  frontend/src/Pages/LibraryViewer.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/Pages/ResidentHome.tsx
  frontend/src/common.ts
  frontend/src/main.tsx
  frontend/yarn.lock
Labels: frontend, Backend

#801 feat: add logging for search terms and categories selected by user
  backend/src/handlers/libraries_handler.go
Labels: Backend

#802 feat: add sql migrations for program features development
  backend/migrations/00040_alter_programs.sql
Labels: HAS_MIGRATION

#803 fix: modify structs and seeder to conform to program database structure
  backend/migrations/00041_add_remove_program_columns.sql
  backend/seeder/main.go
  backend/src/database/section_events.go
  backend/src/database/seed_data.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/programs_handler_test.go
  backend/src/handlers/section_events_test.go
  backend/src/handlers/sections_handler_test.go
  backend/src/models/calendar.go
  backend/src/models/program.go
  backend/src/models/program_sections.go
  backend/src/models/section_event.go
Labels: HAS MIGRATION, Backend, HAS_MIGRATION

#804 fix: removed horizontal and vertical scrollbars
  frontend/src/Components/FacilityCard.tsx
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/modals/FormModal.tsx
  frontend/src/Components/modals/TextOnlyModal.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
Labels: frontend

#806 fix: fix resident home sidebar helpful link navigation
  frontend/src/Components/cards/OpenContentCard.tsx
Labels: frontend

#805 feat: add full page create program form
  .github/workflows/go_test.yml
  .github/workflows/migration_check.yml
  backend/migrations/00010_add_open_content_provider_id_to_tasks.sql
  backend/migrations/00018_add_feature_flags_table.sql
  backend/migrations/00023_alter_library_favorites.sql
  backend/migrations/00028_add_user_course_activity_totals.sql
  backend/migrations/00035_alter_categories.sql
  backend/migrations/00042_add_program_status_back.sql
  backend/src/database/DB.go
  backend/src/database/programs.go
  backend/src/database/section_events.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/programs_handler_test.go
  backend/src/handlers/server.go
  backend/src/handlers/video_handler.go
  backend/src/models/calendar.go
  backend/src/models/program.go
  backend/src/models/resource.go
  backend/src/models/section_event.go
  frontend/package.json
  frontend/src/Components/EngagementRateGraph.tsx
  frontend/src/Components/forms/CreateProgramForm.tsx
  frontend/src/Pages/CreateProgram.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/common.ts
  frontend/src/css/app.css
  frontend/yarn.lock
Labels: frontend, HAS MIGRATION, Backend, CI-Actions, HAS_MIGRATION

#807 feat: add functionality to create and schedule new section for facility admin per ticket id 47
  backend/seeder/main.go
  backend/src/database/program_sections.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/sections_handler.go
  backend/src/handlers/sections_handler_test.go
  backend/src/models/program_sections.go
  frontend/src/Components/PageNav.tsx
  frontend/src/Components/inputs/CancelButton.tsx
  frontend/src/Components/inputs/DateInput.tsx
  frontend/src/Components/inputs/DurationInput.tsx
  frontend/src/Components/inputs/NumberInput.tsx
  frontend/src/Components/inputs/index.ts
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Pages/SectionManagementForm.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#808 feat: add search suggestions
  backend/src/handlers/libraries_handler.go
  frontend/src/Components/LibrarySearchResultsModal.tsx
Labels: frontend, Backend

#812 Fix pass reset permissions and video thumbnail issues
  backend/src/handlers/user_handler.go
  frontend/src/Components/FavoriteCard.tsx
  frontend/src/Components/VideoCard.tsx
  frontend/src/Components/cards/OpenContentCard.tsx
  provider-middleware/video_dl.go
Labels: frontend, Backend, ProviderMiddleware

#809 Create Facility admin section enrollment functionality
  backend/src/database/section_enrollments.go
  backend/src/database/users.go
  backend/src/handlers/section_enrollments.go
  backend/src/handlers/section_enrollments_test.go
  backend/src/handlers/server.go
  backend/src/handlers/user_handler.go
  frontend/src/Components/LibrarySearchResultsModal.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Pages/ProgramSectionEnrollment.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#810 feat: add section status modification and archiving
  backend/src/database/program_sections.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/sections_handler.go
  backend/src/handlers/sections_handler_test.go
  backend/src/models/program_sections.go
  frontend/src/Components/SectionStatus.tsx
  frontend/src/Components/inputs/CancelSubmitRow.tsx
  frontend/src/Components/inputs/ConfirmButton.tsx
  frontend/src/Components/modals/ModifySectionModal.tsx
  frontend/src/Components/modals/TextOnlyModal.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#811 feat: add doc number to profile overview and search
  backend/src/database/users.go
  backend/src/handlers/auth.go
  backend/src/handlers/user_handler.go
  backend/src/models/resource.go
  backend/src/models/users.go
  frontend/src/Components/modals/index.ts
  frontend/src/Pages/ResidentProfile.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#814 fix: update bug fixes on tour
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/UnlockEdTour.tsx
  frontend/src/Components/modals/FormModal.tsx
  frontend/src/Context/TourContext.tsx
  frontend/src/Pages/LibraryViewer.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/Pages/ResidentHome.tsx
Labels: frontend

#813 feat: add functionality so facility admin can add events to the class calendar per ticket 93
  .github/workflows/migration_check.yml
  backend/src/models/program_sections.go
  frontend/package.json
  frontend/src/Components/EventCalendar.tsx
  frontend/src/Components/inputs/CancelButton.tsx
  frontend/src/Components/inputs/RRuleControl.tsx
  frontend/src/Pages/SectionManagementForm.tsx
  frontend/src/css/app.css
  frontend/yarn.lock
Labels: frontend, Backend, CI-Actions
