Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-04, with the labels that each got.

#822 fix: remove doc_id for admins
  frontend/src/Components/modals/index.ts
  frontend/src/common.ts
Labels: frontend

#824 Fix success text
  frontend/src/Pages/CreateProgram.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
Labels: frontend

#816 feat: add list view to knowledge center components
  frontend/src/Components/FavoriteCard.tsx
  frontend/src/Components/LibraryCard.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/VideoCard.tsx
  frontend/src/Components/VideoContent.tsx
  frontend/src/Components/VisibleHiddenToggle.tsx
  frontend/src/Components/cards/HelpfulLinkCard.tsx
  frontend/src/Hooks/sessionView.tsx
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/HelpfulLinks.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Pages/VideoManagement.tsx
Labels: frontend

#819 fix: support searching by doc for unenrolled users
  .github/merge.sh
  .github/workflows/migration_check.yml
  backend/src/database/users.go
Labels: Backend, CI-Actions

#815 fix: fix history navigation
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/VideoContent.tsx
  frontend/src/Hooks/paginationUrlSync.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/FacilityManagement.tsx
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/HelpfulLinks.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/OpenContent.tsx
  frontend/src/Pages/OpenContentManagement.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/Pages/VideoManagement.tsx
Labels: frontend

#828 fix: added where clause to class enrollments query
  backend/src/database/users.go
Labels: Backend

#826 Enrollment status page
  Makefile
  backend/seeder/main.go
  backend/src/database/class_enrollments.go
  backend/src/database/program_classes.go
  backend/src/database/users.go
  backend/src/handlers/auth.go
  backend/src/handlers/auth_test.go
  backend/src/handlers/class_enrollments.go
  backend/src/handlers/classes_handler_test.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/programs_handler_test.go
  backend/src/handlers/test_data/users.json
  backend/src/handlers/user_handler.go
  backend/src/models/program.go
  backend/src/models/program_classes.go
  frontend/src/Components/ClassEnrollmentDetailsTable.tsx
  frontend/src/Components/ClassStatus.tsx
  frontend/src/Components/modals/CompletionDetailsModal.tsx
  frontend/src/Pages/AddClassEnrollments.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/ClassEnrollmentDetails.tsx
  frontend/src/Pages/ClassManagementForm.tsx
  frontend/src/Pages/ProgramClassEnrollment.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/common.ts
  frontend/src/routeLoaders.ts
Labels: frontend, Backend

#830 refactor: remove axios in favor of fetch api
  backend/seeder/main.go
  backend/src/models/program_classes.go
  frontend/package.json
  frontend/src/Components/ClassEnrollmentDetailsTable.tsx
  frontend/src/Components/LibraryLayout.tsx
  frontend/src/Components/OperationalInsightsCharts.tsx
  frontend/src/Components/VideoContent.tsx
  frontend/src/Components/forms/MapUserForm.tsx
  frontend/src/Context/AuthContext.tsx
  frontend/src/Pages/AddClassEnrollments.tsx
  frontend/src/Pages/AdminLayer1.tsx
  frontend/src/Pages/AdminLayer2.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/ClassEnrollmentDetails.tsx
  frontend/src/Pages/CourseCatalog.tsx
  frontend/src/Pages/FacilityManagement.tsx
  frontend/src/Pages/Favorites.tsx
  frontend/src/Pages/HelpfulLinks.tsx
  frontend/src/Pages/HelpfulLinksManagement.tsx
  frontend/src/Pages/MyCourses.tsx
  frontend/src/Pages/MyProgress.tsx
  frontend/src/Pages/ProgramClassEnrollment.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Pages/ProviderPlatformManagement.tsx
  frontend/src/Pages/ProviderUserManagement.tsx
  frontend/src/Pages/ResidentHome.tsx
  frontend/src/Pages/ResidentProfile.tsx
  frontend/src/Pages/StudentManagement.tsx
  frontend/src/Pages/VideoManagement.tsx
  frontend/src/api/api.ts
  frontend/src/bootstrap.ts
  frontend/src/main.tsx
  frontend/src/session_ws.ts
  frontend/src/types/global.d.ts
  frontend/src/useAuth.ts
Labels: frontend, Backend

#823 Update UnlockEd Pre-Loging page
  frontend/public/emoji_image_new.png
  frontend/public/unlockedv1.png
  frontend/public/unlockedv1Sm.webp
  frontend/public/unlockedv2Dk.png
  frontend/public/unlockedv2DkSm.webp
  frontend/public/unlockedv2Lt.png
  frontend/public/unlockedv2LtSm.webp
  frontend/src/Components/Timeline.tsx
  frontend/src/Pages/Welcome.tsx
Labels: enhancement, frontend

#835 invalid character weird UX behavior - Fix
  frontend/src/Components/modals/AddUserModal.tsx
Labels: frontend

#836 fix: fix display format of user names
  frontend/src/Components/TransferSummaryPanel.tsx
  frontend/src/Components/forms/MapUserForm.tsx
  frontend/src/Components/modals/CompletionDetailsModal.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/ProviderUserManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
Labels: frontend

#834 Added sort to Search Modal dropdown
  frontend/src/routeLoaders.ts
Labels: frontend

#842 fix: modify labels on create class form per ticket 128
  frontend/src/Components/inputs/RRuleControl.tsx
Labels: frontend

#838 fix: move other to bottom of enum
  frontend/src/common.ts
Labels: frontend

#846 Disable add class button
  backend/src/database/programs.go
  frontend/src/Pages/ProgramOverviewDashboard.tsx
Labels: frontend, Backend

#859 fix: operational insights filter by role = student
  backend/src/database/users.go
Labels: Backend

#849 fix: add logic check for class status of completed and cancelled per ticket 167
  frontend/src/Components/ClassLayout.tsx
  frontend/src/Components/ClassStatus.tsx
Labels: frontend
