Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-06, with the labels that each got.

#899 feat: integration testing library
  backend/src/database/DB.go
  backend/src/database/programs.go
  backend/src/database/seed_data.go
  backend/src/handlers/auth.go
  backend/src/handlers/server.go
  backend/src/handlers/user_handler.go
  backend/src/models/facilities.go
  backend/src/models/program.go
  backend/tests/integration/classes_test.go
  backend/tests/integration/client.go
  backend/tests/integration/facilities_test.go
  backend/tests/integration/healthcheck_test.go
  backend/tests/integration/testenv.go
  backend/tests/integration/users_test.go
Labels: Backend

#900 Edit Program UI adjust
  frontend/src/Pages/ProgramManagementForm.tsx
Labels: frontend

#910 fix: switch route to dept admin
  backend/src/handlers/facilities_handler.go
Labels: Backend

#913 fix: change Residents to Enrollments per ticket 284
  frontend/src/Pages/ProgramOverviewDashboard.tsx
Labels: frontend

#911 fix: facility admins can't add or edit programs
  backend/src/handlers/classes_handler.go
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Pages/ProgramManagementForm.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/app.tsx
Labels: frontend, Backend

#921 Add delete resident logic back to residentProfile page
  frontend/src/Pages/ResidentProfile.tsx
Labels: frontend

#904 Fix: Class Status Pill Issue on Program Overview Dashboard
  frontend/src/Components/modals/TextOnlyModal.tsx
Labels: frontend

#919 small fixes: context and cancellation inside middleware
  provider-middleware/daily_program_history.go
  provider-middleware/handlers.go
Labels: ProviderMiddleware

#922 fix: add criteria to query for fixing enrolling issue--ticket 313
  backend/src/database/class_enrollments.go
Labels: Backend

#923 fix: remove loader call and replace logic with facilities per ticket 310
  frontend/src/Components/OperationalInsightsCharts.tsx
  frontend/src/Pages/OperationalInsights.tsx
Labels: frontend

#927 feat: add Role column, disabled icons w/tooltip to user admin pg
  backend/src/database/users.go
  frontend/src/Pages/AdminManagement.tsx
Labels: frontend, Backend

#935 feat: update the button text on the edit series (recurring) modal to say "Save Changes"
  frontend/src/Components/modals/RescheduleClassEventSeriesModal.tsx
Labels: frontend
