Repository UnlockedLabs/UnlockEdv2, pull requests merged in 2025-05, with the labels that each got.

#858 fix: change password logic for admin and resident specificity
  frontend/src/Components/modals/TextOnlyModal.tsx
  frontend/src/Pages/AdminManagement.tsx
  frontend/src/Pages/StudentManagement.tsx
Labels: frontend

#848 Prepare middleware for offline deployments
  provider-middleware/handlers.go
  provider-middleware/video_dl.go
Labels: frontend, ProviderMiddleware

#861 fix: keep navbar pinned position across client route changes
  frontend/src/Layouts/AuthenticatedLayout.tsx
Labels: frontend

#860 feat: add script to add kiwix libraries to dedicated instance
  config/kiwix.sh
Labels: Other-Config

#872 Create Resident overview of programs
  backend/src/database/class_events.go
  backend/src/database/facilities.go
  backend/src/database/programs.go
  backend/src/database/users.go
  backend/src/handlers/auth.go
  backend/src/handlers/class_events.go
  backend/src/handlers/classes_events_test.go
  backend/src/handlers/programs_handler.go
  backend/src/handlers/server.go
  backend/src/handlers/user_handler.go
  backend/src/handlers/utils.go
  backend/src/models/calendar.go
  backend/src/models/class_event.go
  backend/src/models/program_classes.go
  backend/src/models/users.go
  frontend/src/Components/ActivityHistoryCard.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/ResidentPrograms.tsx
  frontend/src/Components/WeeklyScheduleTable.tsx
  frontend/src/Components/cards/ActivityHistoryRowCard.tsx
  frontend/src/Components/modals/VerifyResidentModal.tsx
  frontend/src/Layouts/AuthenticatedLayout.tsx
  frontend/src/Pages/CreateProgram.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/Pages/ResidentOverview.tsx
  frontend/src/Pages/ResidentProfile.tsx
  frontend/src/Routes/App.tsx
  frontend/src/Routes/Programs.tsx
  frontend/src/Routes/Routes.tsx
  frontend/src/app.tsx
  frontend/src/common.ts
  frontend/src/routeLoaders.ts
Labels: frontend, Backend

#875 fix: nil map check in scheduler prevent crash on general tasks
  backend/src/models/jobs.go
  backend/tasks/scheduler.go
Labels: Backend, CronTasks

#869 feat: add ability to change program status
  backend/src/database/program_classes.go
  backend/src/database/programs.go
  backend/src/handlers/classes_handler.go
  backend/src/handlers/programs_handler.go
  frontend/src/Components/ClassLayout.tsx
  frontend/src/Components/ClassStatus.tsx
  frontend/src/Components/ProgramStatus.tsx
  frontend/src/Components/modals/ModifyClassModal.tsx
  frontend/src/Components/modals/ModifyProgramModal.tsx
  frontend/src/Components/modals/TextOnlyModal.tsx
  frontend/src/Pages/ClassManagementForm.tsx
  frontend/src/Pages/ProgramManagement.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#874 fix: update url tampering on front and backend
  backend/src/database/class_events.go
  backend/src/handlers/class_events.go
  backend/src/handlers/events_attendance_handler.go
  backend/src/models/class_event.go
  frontend/src/Components/helperFunctions/formatting.tsx
  frontend/src/Pages/ClassEvents.tsx
  frontend/src/Pages/Error.tsx
  frontend/src/Pages/EventAttendance.tsx
  frontend/src/common.ts
Labels: frontend, Backend

#885 fix: remove categories dropdown
  frontend/src/Pages/ProgramManagement.tsx
Labels: frontend

#886 fix: update add user in admin management
  frontend/src/Pages/AdminManagement.tsx
Labels: frontend

#876 Block Modifications on Cancelled or Completed Classes
  backend/migrations/go.mod
  backend/migrations/go.sum
  backend/seeder/go.mod
  backend/seeder/go.sum
  backend/src/database/events_attendance.go
  backend/src/handlers/class_enrollments.go
  backend/src/handlers/classes_handler.go
  backend/src/handlers/events_attendance_handler.go
  backend/src/models/program_classes.go
  backend/src/models/resource.go
  frontend/src/Components/ClassLayout.tsx
  frontend/src/Components/ClassStatus.tsx
  frontend/src/Pages/AddClassEnrollments.tsx
  frontend/src/Pages/ClassEnrollmentDetails.tsx
  frontend/src/Pages/ClassEvents.tsx
  frontend/src/Pages/ClassManagementForm.tsx
  frontend/src/Pages/EventAttendance.tsx
  frontend/src/Pages/ProgramOverviewDashboard.tsx
  frontend/src/common.ts
  frontend/src/routeLoaders.ts
  go.work.sum
  provider-middleware/go.mod
  provider-middleware/go.sum
Labels: frontend, Backend

#892 fix: rename # of Classes to total classes
  frontend/src/Pages/ProgramManagement.tsx
Labels: frontend

#893 fix: add helper func to format timezone string
  frontend/src/Components/FacilityCard.tsx
  frontend/src/Components/helperFunctions/formatting.tsx
Labels: frontend
